/***********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff1ea;
}
li {
  list-style: none;
}
.btn-primary {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.95rem;
  background: #ff5900;
  color: white;
  box-shadow: 2px 6px 0 black;
}
.btn-primary:hover {
  background: #b5704b;
}
.btn-primary:focus {
  outline: none;
}

/*************************** ACCUEIL *********************************/
.accueil-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}
/************************* INGREDIENTS ******************************/
.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}
.ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  border: solid 3px #10100f;
  border-radius: 5px;
  padding: 1rem;
  background-color: #ffffff;
}
.btn-supprimer {
  margin-left: 30px;
  background-color: #ff5900;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.btn-supprimer:focus {
  outline: none;
}
.btn-supprimer:hover {
  background-color: #b5704b;
}
.ingredients-list-detail {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem;
}
.secondary-title {
  color: #2b2a29;
}
/************************ RECIPIES *****************************/
.suggested-recipes-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipes-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  border: solid 3px #10100f;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  box-shadow: 2px 6px 0 black;
  cursor: pointer;
}
.recipes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 4rem;
}
.recipes-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.link-back {
  display: inline-flex;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.ingredients input {
  width: 300px;
  border-radius: 5px;
  padding: 0.5rem;
  border: solid 1px #10100f;
}

/************************** FOOTER ***************************/
.footer {
  background-color: #1b0d07;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
/****************** FAVORIS **********************/
.favoris-page {
  padding: 2rem;
}
.recipes-card-favoris {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  border: solid 3px #10100f;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #ffffff;
  box-shadow: 2px 6px 0 black;
}

.ajouter-favoris-btn {
  background-color: #ff5100;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.favoris-icon {
  position: relative;
  display: inline-block;
}

.favoris-icon img {
  width: 30px;
}
.favoris-count {
  position: absolute;
  right: -10px;
  bottom: -5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5100;
  color: white;
  border: 3px solid black;
  border-radius: 50%;
  font-size: 14px;
  padding: 0.6rem;
}
.aucun-favori {
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #9d4d22;
}
/************************ DETAIL RECETTES ***************************/
.detail-recette-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem;
}
.image-detail-recette {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.hero-pic {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.tags-detail-recette {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-detail-recette h1 {
  margin-bottom: 3rem;
}
.detail-recipes-title {
  display: flex;
  align-items: center;
}
.ingredients-detail-recette,
.steps-detail-recette {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  border: solid 3px #10100f;
  border-radius: 5px;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 2px 6px 0 black;
}
.t {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
